@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {


    .border-dark-glow {

        --border-angle: 160deg;

        border-image-source: linear-gradient(var(--border-angle),
                #000000 50%,
                #7c1818 75%,
                #541b3f 95%);
        border-image-slice: 1;

        border-radius: theme('borderRadius.lg');
    }


    @keyframes rotate-border {
        from {
            --border-angle: 160deg;
        }

        to {
            --border-angle: 520deg;
        }
    }

    .animate-rotate-border {
        animation: rotate-border 1s linear forwards;
    }
}